@import "../../styles/variables";

.button {
  padding: 10px 20px;
  border: #fff solid 2px;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
  &.basicTheme {
    background-color: $slate-100;
    color: $slate-700;
    border: 1px solid $slate-400;
    &:hover {
      background-color: $slate-200;
    }
    &:focus {
      background-color: $slate-100;
    }
    &:active {
      background-color: $slate-300;
    }
    &:disabled {
      background-color: $slate-100;
      opacity: 0.25;
      cursor: auto;
    }
  }

  &.primaryTheme {
    background-color: $blue-600;
    color: #fff;
    &:hover {
      background-color: $blue-800;
    }

    &:focus {
      background-color: $blue-600;
      outline: 2px solid $blue-700;
    }
    &:active {
      background-color: $blue-900;
    }
    &:disabled {
      background-color: $blue-600;
      opacity: 0.25;
      cursor: auto;
    }
  }
}
