@import "../../styles/variables";

.dashboardWrapper {
  width: 100%;
  background-color: $slate-100;
  background-repeat: repeat;
  background-position: center;
  min-height: 100vh;
  .header {
    position: relative;
    background-color: $slate-800;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 16px;
    height: 48px;
    z-index: 20;
    h2 {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
    }
    .userInfo {
      display: flex;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
      }
      .userEmail {
        p {
          font-size: 16px;
          color: #fff;
        }
      }
    }
  }
  .chartContainer {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 32px 48px;
    background-color: #fff;
    border-radius: 8px;
    padding-bottom: 24px;
    filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.1));
    h3 {
      font-size: 16px;
      font-weight: 700;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 24px;
      border-bottom: 1px solid $slate-200;
      margin-bottom: 40px;
    }
    .chartRenderArea {
      padding-left: 24px;
      padding-right: 24px;
    }
    .caption {
      text-align: right;
      font-size: 12px;
      color: $slate-500;
      padding-right: 30px;
    }
  }
}

.flexContainer {
  display: flex;
}
// フィルタリングサイドメニュー - PC
.sideMenu {
  padding: 24px 32px;
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.1));
  background-color: #fff;
  position: relative;
  width: 300px;
  top: 0;
  left: 0;
  flex-shrink: 0;
  height: calc(100vh);
  z-index: 10;
  .filterTitle {
    color: $slate-500;
    font-size: 18px;
    font-weight: 700;
  }
  h4 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 32px;
  }
  input[type="radio"] {
    margin-right: 5px;
    position: relative;
    width: 16px;
    height: 16px;
    border: none;
    background-color: #fff;
    border: 1px solid $slate-400;
    border-radius: 50%;
    vertical-align: -1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline-offset: 2px;
    &:hover {
      background-color: $slate-200;
      border-color: $slate-400;
    }

    &:focus {
      border-color: $blue-600;
      outline: 2px solid $blue-600;
    }
    &:active {
      background-color: $slate-300;
      border-color: $slate-400;
    }
    &:disabled,
    &:disabled + label {
      opacity: 0.25;
    }
    // checked styles
    &:checked {
      background-color: $blue-600;
    }
    &:checked:hover {
      background-color: $blue-700;
    }
    &:checked:active {
      background-color: $blue-800;
    }
    &:checked:disabled,
    &:checked:disabled + label {
      opacity: 0.25;
    }
  }

  input[type="radio"]:checked:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    content: "";
  }

  .sideMenuButton {
    display: none;
  }
}

@media (max-width: 767px) {
  .dashboardWrapper {
    .header {
      padding: 10px 16px;
    }
    .chartContainer {
      margin: 40px 15px;
      width: calc(100% - 30px);
      padding: 15px;
      h3 {
        font-size: 14px;
        margin-bottom: 15px;
      }
      .chartRenderArea {
        height: 400px;
      }
    }
    // // フィルタリングサイドメニュー - SP
    .sideMenu {
      position: absolute;
      width: 200px;
      transition: 0.2s;
    }
    .filterContainer {
      position: relative;
    }
    .sideMenu.show {
      transform: translateX(-100%);
    }
    .sideMenu.hide {
      transform: translateX(0);
    }
    .sideMenuButton {
      display: block;
      position: absolute;
      right: -115px;
      top: 20px;
      background-color: #fff;
      z-index: 2;
      padding: 8px 15px;
      border: none;
      box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
    }
  }
}
